<h1>Heart Attack Risk Analysis and Prediction</h1>

This project involves analyzing an AI-generated dataset designed to mimic real-world heart attack risk factors. The dataset consists of 26 columns and 8,763 entries, containing various health-related attributes listed below:

- Patient ID --- Unique identifier for each patient
- Age --- Age of the patient
- Sex --- Gender of the patient (Male/Female)
- Cholesterol --- Cholesterol levels of the patient
- Blood Pressure --- Blood pressure of the patient (systolic/diastolic)
- Heart Rate --- Heart rate of the patient
- Diabetes --- Whether the patient has diabetes (Yes/No)
- Family History --- Family history of heart-related problems (1: Yes, 0: No)
- Smoking --- Smoking status of the patient (1: Smoker, 0: Non-smoker)
- Obesity --- Obesity status of the patient (1: Obese, 0: Not obese)
- Alcohol Consumption --- Level of alcohol consumption by the patient (1: Yes, 0: No)
- Exercise Hours Per Week --- Number of exercise hours per week
- Diet --- Dietary habits of the patient (Healthy/Average/Unhealthy)
- Previous Heart Problems --- Previous heart problems of the patient (1: Yes, 0: No)
- Medication Use --- Medication usage by the patient (1: Yes, 0: No)
- Stress Level --- Stress level reported by the patient (1-10)
- Sedentary Hours Per Day --- Hours of sedentary activity per day
- Income --- Yearly income level of the patient (in USD)
- BMI --- Body Mass Index (BMI) of the patient
- Triglycerides --- Triglyceride levels of the patient
- Physical Activity Days Per Week --- Days of physical activity per week
- Sleep Hours Per Day --- Hours of sleep per day
- Country --- Country of the patient
- Continent --- Continent where the patient resides
- Hemisphere --- Hemisphere where the patient resides
- Heart Attack Risk --- Presence of heart attack risk (1: Yes, 0: No)

The goal of this project is to extract meaningful insights from the data through exploratory data analysis (EDA) and statistical methods. Additionally, a machine learning model will be developed to predict the probability of a person experiencing a heart attack based on their features. Various evaluation metrics will be used to assess the model’s performance, ensuring it provides accurate and reliable predictions.

<h2>Importing libraries</h2>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
import seaborn as sns

<h2>Importing the dataset</h2>

We will load the dataset, and view the first 5 rows to view the imported dataset in more detail.

In [51]:
df = pd.read_csv('heart_attack_prediction_dataset.csv')
df.head(5)

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [55]:
print(df['Diet'].unique())

['Average' 'Unhealthy' 'Healthy']

Now that we have imported the dataset, we will explore the dataset so that we have a general understanding of what the dataset looks like. We will use:

- .shape to denote the number of rows and columns
- .columns to ensure that we have all the desired columns available
- .describe to get a summary for each column of the dataset

In [40]:
print('SHAPE:', df.shape)
print('\nCOLUMNS:\n  ', df.columns)
print('\nSUMMARY:\n', df.describe())

SHAPE: (8763, 26)

COLUMNS:
   Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')

SUMMARY:
                Age  Cholesterol   Heart Rate     Diabetes  Family History  \
count  8763.000000  8763.000000  8763.000000  8763.000000     8763.000000
mean     53.707977   259.877211    75.021682     0.652288        0.492982
std      21.249509    80.863276    20.550948     0.476271        0.499979
min      18.000000   120.000000    40.000000     0.000000        0.000000
25%      35.000000   192.000000    57.000000     0.000000        0.000000
50%      54.000000   259.000000    75.000000     1.000000        0.000000
75%      72.000000   330.000000    93.000000     1.000000        1.000000
max      90.000000   400.000000   110.000000     1.000000        1.000000

           Smoking      Obesity  Alcohol Consumption  Exercise Hours Per Week  \
count  8763.000000  8763.000000          8763.000000              8763.000000
mean      0.896839     0.501426             0.598083                10.014284
std       0.304186     0.500026             0.490313                 5.783745
min       0.000000     0.000000             0.000000                 0.002442
25%       1.000000     0.000000             0.000000                 4.981579
50%       1.000000     1.000000             1.000000                10.069559
75%       1.000000     1.000000             1.000000                15.050018
max       1.000000     1.000000             1.000000                19.998709

       Previous Heart Problems  Medication Use  Stress Level  \
count              8763.000000     8763.000000   8763.000000
mean                  0.495835        0.498345      5.469702
std                   0.500011        0.500026      2.859622
min                   0.000000        0.000000      1.000000
25%                   0.000000        0.000000      3.000000
50%                   0.000000        0.000000      5.000000
75%                   1.000000        1.000000      8.000000
max                   1.000000        1.000000     10.000000

       Sedentary Hours Per Day         Income          BMI  Triglycerides  \
count              8763.000000    8763.000000  8763.000000    8763.000000
mean                  5.993690  158263.181901    28.891446     417.677051
std                   3.466359   80575.190806     6.319181     223.748137
min                   0.001263   20062.000000    18.002337      30.000000
25%                   2.998794   88310.000000    23.422985     225.500000
50%                   5.933622  157866.000000    28.768999     417.000000
75%                   9.019124  227749.000000    34.324594     612.000000
max                  11.999313  299954.000000    39.997211     800.000000

       Physical Activity Days Per Week  Sleep Hours Per Day  Heart Attack Risk
count                      8763.000000          8763.000000        8763.000000
mean                          3.489672             7.023508           0.358211
std                           2.282687             1.988473           0.479502
min                           0.000000             4.000000           0.000000
25%                           2.000000             5.000000           0.000000
50%                           3.000000             7.000000           0.000000
75%                           5.000000             9.000000           1.000000
max                           7.000000            10.000000           1.000000

We will check our dataset for any missing values. If found, we will have to drop the null columns.

In [43]:
print(df.isnull().sum())

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

Although we do not have any null values in the dataset, we will drop null values as it is good coding practice.

In [44]:
df = df.dropna()
df.shape

(8763, 26)

To make better use of the data, we will set the 'Patient ID' column as the primary key. However, we need to make sure that it meets the requirements of being made the primary key, i.e. it should hold only unique values.

In [41]:
df['Patient ID'].unique().shape[0] == df.shape[0]

True

Now that we are sure that it holds only unique values, we will set 'Patient ID' as the primary key.

In [ ]:
df = df.set_index('Patient ID')
df.head()

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
Patient ID,,,,,,,,,,,,,,,,,,,,,
BMW7812,67,Male,208,158/88,72,0,0,1,0,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
CZE1114,21,Male,389,165/93,98,1,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
BNI9906,21,Female,324,174/99,72,1,0,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
JLN3497,84,Male,383,163/100,73,1,1,1,0,1,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
GFO8847,66,Male,318,91/88,93,1,1,1,1,0,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0